create extension omni_httpd cascade;
create extension omni_web cascade;
create extension omni_vfs cascade;
create extension omni_schema cascade;
create extension omni_kube cascade;
create extension omni_manifest cascade;
create extension omni_os cascade;
create extension omni_yaml cascade;
create extension omni_test cascade;
