.pg
build
.b-*
build-linux
cmake-build-debug
.idea
.vscode
log
results
.DS_Store
.docs-virtualenv

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

# python
__pycache__

# pkgs
*.rpm
