name: Build

on:
  push:
    # one can merge their branch to test-gh-workflows for testing changes of current workflow before merging them to master
    branches: [ "master", "test-gh-workflows" ]
  pull_request:
    branches: [ "master", "next/*" ]
  schedule:
    - cron: '33 13 * * *'

env:
  CPM_SOURCE_CACHE: ${{ github.workspace }}/cpm_modules

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  build:
    continue-on-error: ${{ matrix.pgver == 'master' }}
    strategy:
      matrix:
        pgver: [ 17, 16, 15, 14, master ]
        os: [ ubuntu-24.04, macos-15 ]
        build_type: [Debug, Release]
        exclude:
        - os: macos-15
          pgver: 16
        - os: macos-15
          pgver: 15
        - os: macos-15
          pgver: 14
        - os: macos-15
          pgver: 13
        - os: macos-15
          pgver: 12
        - os: macos-15
          pgver: 11
      fail-fast: false

    runs-on: ${{ matrix.os }}

    timeout-minutes: 20

    steps:

    # Ada URL library requires a relatively modern compiler
    - name: Prepare dependencies
      if: matrix.os == 'ubuntu-24.04'
      run: |
        sudo apt-get update
        sudo apt-get install libreadline-dev

    - uses: actions/checkout@v3

    # This is done to address the problem on macOS where .pg built in a directory of one
    # GitHub Action runner won't work when restored in another one since dylds have install_name pointing
    # to the original location. We include the hash of their path into the cache name.
    - name: Get path hash
      if: matrix.os == 'macos-15'
      run: |
        echo "PATH_SUFFIX=-$(pwd | sha256sum | awk '{print $1}')" >> $GITHUB_ENV

    # On other systems, make it explicitly empty
    - name: Get path hash
      if: matrix.os != 'macos-15'
      run: |
        echo "PATH_SUFFIX=" >> $GITHUB_ENV

    - uses: actions/cache@v4
      with:
        path: .pg
        key: ${{ matrix.os }}-pg-${{ matrix.pgver }}-${{ matrix.build_type }}-${{ hashFiles('cmake/FindPostgreSQL.cmake') }}${{ env.PATH_SUFFIX }}

    - name: Configure
      if: matrix.os != 'macos-15'
      run: |
        # Workaround for https://www.postgresql.org/message-id/E1tziZ6-002AW5-1t%40gemulon.postgresql.org
        export MACOSX_DEPLOYMENT_TARGET=15.4
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DPGVER=${{ matrix.pgver }}

    - name: Configure
      if: matrix.os == 'macos-15'
      run: |
        export MACOSX_DEPLOYMENT_TARGET=15.4
        cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{matrix.build_type}} -DPGVER=${{ matrix.pgver }} -DCMAKE_BUILD_PARALLEL_LEVEL=2

    - name: Build
      run: cmake --build ${{github.workspace}}/build --parallel --config ${{matrix.build_type}}

    - name: Test
      working-directory: ${{github.workspace}}/build
      if: matrix.os != 'macos-15'
      run: TMPDIR=$RUNNER_TEMP USER=$(whoami) ctest --timeout 1000 --force-new-ctest-process  --repeat until-pass:10 --output-on-failure -j $(nproc) -C ${{matrix.build_type}}

    - name: Test (without docker)
      working-directory: ${{github.workspace}}/build
      if: matrix.os == 'macos-15'
      run: TMPDIR=$RUNNER_TEMP USER=$(whoami) ctest --timeout 1000 --force-new-ctest-process  --repeat until-pass:10 --output-on-failure -j $(nproc) -C ${{matrix.build_type}} -E '(minio|containers)'

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: ${{ matrix.os }}-${{ matrix.pgver }}-regression.diffs
        path: ${{ github.workspace }}/build/extensions/**/regression.diffs

    - name: Print error-related artifacts
      if: failure()
      run: |
        echo "- diffs: "
        find ${{github.workspace}}/build -name \*.diffs -exec echo "=== {}:" \; -exec cat {} \;
        echo "- postmaster.log: "
        find ${{github.workspace}}/build -name postmaster.log -exec echo "=== {}:" \; -exec cat {} \;
        echo "- initdb.log: "
        find ${{github.workspace}}/build -name initdb.log -exec echo "=== {}:" \; -exec cat {} \;

  # Ensure it can be built against externally-supplied Postgres
  build-external-pg:
    runs-on: ubuntu-24.04

    steps:
    - uses: actions/checkout@v3

    - name: Prepare dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libreadline-dev

    - name: Install necessary dependencies
      run: |
        sudo apt-get update
        sudo apt-get remove -f postgresql-16
        sudo apt-get install -f postgresql-server-dev-16 postgresql-16 postgresql-plpython3-16

    - name: Configure
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=Release -DPG_CONFIG=$(which pg_config)

    - name: Build
      run: cmake --build ${{github.workspace}}/build --parallel --config Release --target all --target package_extensions

  # Ensure every extension can be built independently
  build-extensions-independently:

    strategy:
      matrix:
        pgver: [ 17 ]
        os: [ ubuntu-24.04 ]
        build_type: [ Debug ]
      fail-fast: false

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v3

    # Ada URL library requires a relatively modern compiler
    - name: Prepare dependencies
      if: matrix.os == 'ubuntu-24.04'
      run: |
        sudo apt-get update
        sudo apt-get install libreadline-dev

    - run: ci/build-extensions-separately
