name: docs
on:
  push:
    branches:
      - main
      - master
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo apt-get install libxml2-dev libxslt-dev
      - uses: actions/setup-python@v4
        with:
          python-version: 3.11
      - run: pip install -r docs/requirements.txt
      - run: mkdocs gh-deploy --force
